<h1><span style="text-align:center">Dependency Injection Lifetime in .Net Core( Singleton, Scoped, Transient )</span></h1> &nbsp; &nbsp;<a target="_blank" href="https://www.linkedin.com/in/majid-qafouri/">By Majid Qafouri</a>

<hr />
<h2>Singleton Service</h2>
<div>
    <div><label>Singleton Service 1  : </label> @ViewData["singletonService1"]</div>
    <div>
        <label>Singleton Service 2  : </label> @ViewData["singletonService2"]
    </div>

    <div>
        <label>Singleton's inner service value (transient service 1)  : </label> @ViewData["singleton_Inner_Transiet_Service1"]
    </div>

    <div>
        <label>Singleton's inner service value (transient service 2)  : </label> @ViewData["singleton_Inner_Transiet_Service2"]
    </div>
</div>
<hr />

<h2>Scoped Service</h2>
<div>
    <div><label>Scoped Service 1  : </label> @ViewData["scopedService1"]</div>
    <div>
        <label>Scoped Service 2  : </label> @ViewData["scopedService2"]
    </div>
</div>
<hr />

<h2>Trnasient Service</h2>
<div>
    <div><label>Trnasient Service 1  : </label> @ViewData["TransientService1"]</div>
    <div>
        <label>Trnasient Service 2  : </label> @ViewData["TransientService2"]
    </div>
</div>
<hr />




